body {
  font-family: $pri_font;
  font-size: $base_fontsize;
  color: $txt-color;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sec_font;
}

p {
  margin-bottom: 12px;
}

a {
  display: inline-block;
  font-family: $sec_font;
  color: $btn_color;
  &:hover {
    color: $btn-color;
    text-decoration: none;
  }
  &:active {
    color: $btn-color;
    text-decoration: none;
  }
}

button {
  font-family: $sec_font;
}
