section#co-founder {
  .co-founder-img {
    height: 100%;
    .img {
      border-radius: $border_radius;
      @include background(url(../assets/img/co-founder.jpg));
      background-position: top;
    }
    @media #{$mobile_device} {
      height: 300px;
      margin-bottom: 24px;
    }
  }
  .section-content {
    padding: 81px 0px 81px 33px;
    @media #{$mobile_device} {
      padding: 0px;
    }
    @media #{$tab} {
      padding: 51px 0px 51px 9px;
    }
    @media #{$md_device} {
      padding: 81px 0px 81px 9px;
    }
    .section-content-inner {
      padding: 81px 0px 81px 33px;
      @media #{$mobile_device} {
        padding: 0px;
      }
      @media #{$tab} {
        padding: 51px 0px 51px 9px;
      }
      @media #{$md_device} {
        padding: 81px 0px 81px 9px;
      }
      .co-founder-details {
        p:nth-child(2) {
          margin-bottom: 24px;
        }
      }
    }
  }
}
