footer {
  color: $txt_color_light;
  font-size: 12px;
  padding: 108px 0px;
  background-color: $theme_color;
  .item {
    .item-title {
      color: $hdr_color_light;
    }
    &.item-2 {
      a {
        color: $txt_color_light;
        @include transition(color);
        &:hover {
          color: $neutral_color;
        }
      }
    }
  }
  .mb-12 {
    margin-bottom: 12px;
  }
}
