section#gallery-section {
  .gallery-img {
    img {
      border-radius: $border_radius;
    }
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mb-lg-0 {
    margin-bottom: 30px;
    @media #{$above_tab_device} {
      margin-bottom: 0px;
    }
  }
}
