#hero {
  @include background(url(../assets/img/hero.jpg));
  .hero-overlay {
    background-color: $overlay_bgcolor;
  }
  .hero-content {
    .hero-content-inner {
      .hero-hdr {
        margin-bottom: 12px;
        color: $hdr_color_light;
        // @media #{$mobile_sm} {
        //   font-size: 36px;
        // }
      }
      .hero-subtxt {
        margin-bottom: 24px;
        color: $txt_color_light;
        font-size: 12px;
      }
    }
  }
}
