$link_color: #000000;

nav.navbar-light {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $neutral_color;
  z-index: 1000;
  .navbar-brand {
    color: $link_color;
    font-size: 18px;
    letter-spacing: 3px;
  }

  ul.navbar-nav {
    li.nav-item {
      .nav-link {
        padding: 6px 12px;
        color: $link_color;
        font-size: 12px;
        @include transition(color);
        &:hover {
          color: inherit;
        }
        &:active {
          color: inherit;
        }
        @media #{$tab_device} {
          padding: 8px 12px;
        }
      }
      .active {
        color: inherit;
      }
    }
  }
}
