section#success-stories {
  .section-hdr {
    margin-bottom: 72px;
    @media #{$mobile_device} {
      margin-bottom: 48px;
    }
    .section-title {
      color: $hdr_color_dark;
      margin-bottom: 24px;
    }
  }
  .section-body {
    .item {
      margin-bottom: 48px;
      .item-hdr {
        .item-img {
          height: 168px;
          border-radius: $border_radius;
        }
      }
      .item-body {
        padding: 24px 0px;
        .item-title {
          color: $hdr_color_dark;
          margin-bottom: 12px;
        }
      }
      &.item-1 {
        .item-img {
          @include background(
            url(../assets/img/kawangware-initiative-project.jpg)
          );
        }
      }
      &.item-2 {
        .item-img {
          @include background(url(../assets/img/mentorship-programmes.jpg));
        }
      }
      &.item-3 {
        .item-img {
          @include background(
            url(../assets/img/art-performance-and-talent-showcase.jpg)
          );
        }
      }
    }
    .modal {
      .modal-content {
        border-radius: $border_radius;
        .modal-header {
          display: initial;
          padding-bottom: 12px;
          border-bottom: none;
          border-top-left-radius: $border_radius;
          border-top-right-radius: $border_radius;
          .item-title {
            color: $hdr_color_dark;
          }
        }
        .modal-body {
          padding-top: 12px;
          padding-bottom: 12px;

          .item-details {
            color: inherit;
            font-size: inherit;
          }
          ul {
            margin-bottom: 12px;
            li {
              padding-top: 6px;
              padding-bottom: 6px;
            }
          }
        }
        .modal-footer {
          padding-top: 12px;
          border-top: none;
          border-bottom-right-radius: $border_radius;
          border-bottom-left-radius: $border_radius;
          & > * {
            margin: 0px;
          }
        }
      }
    }
  }
}
