section#what-we-do {
  .section-hdr {
    margin-bottom: 72px;
    @media #{$mobile_device} {
      margin-bottom: 48px;
    }
    .section-title {
      color: $hdr_color_dark;
      margin-bottom: 24px;
    }
  }
  .section-body {
    .item {
      padding: 24px 24px 48px 24px;
      margin-bottom: 30px;
      background-color: $neutral_color;
      border-radius: $border_radius;
      box-shadow: $box_shadow;
      @include transition(box-shadow);
      &:hover {
        @media #{$above_tab_device} {
          box-shadow: $box_shadow_hover;
        }
      }
      .item-hdr {
        .item-img {
          height: 168px;
          border-radius: $border_radius;
        }
      }
      .item-body {
        padding: 24px 12px;
        .item-title {
          color: $hdr_color_dark;
          margin-bottom: 12px;
        }
      }

      .item-ftr {
        padding: 0px 12px;
      }
      &.item-1 {
        .item-img {
          @include background(url(../assets/img/events.jpg));
        }
      }

      &.item-2 {
        .item-img {
          @include background(url(../assets/img/community-projects.jpg));
        }
      }

      &.item-3 {
        .item-img {
          @include background(url(../assets/img/mentorship-programmes.jpg));
        }
      }

      &.item-4 {
        .item-img {
          @include background(url(../assets/img/community-services.jpg));
        }
      }
      &.item-5 {
        .item-img {
          @include background(
            url(../assets/img/talent-search-and-nurturing.jpg)
          );
          background-position: top;
        }
      }

      &.item-6 {
        .item-img {
          @include background(
            url(../assets/img/community-capacity-building-and-emp.jpg)
          );
        }
      }
    }
  }
}
